body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}
.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 350px;
  padding: 15px;
  color: #ff3333;
  border-radius: 6px;
  text-align: center;
  box-shadow: 5px 2px 13px -1px #ff3333;
}
